.product-block {
	.image {
		height: 215px;
		width: 215px;
		margin: auto;
		display: block;
		text-decoration: none;
		position: relative;
		z-index: 1;
		@include s() {
			height: 154px;
			width: 154px;
		}
		p {
			@include ptSerif(18px, 400, normal);
			color: #fff;
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 10px;
			margin: 0;
			display: none;
		}
		&:hover {
			&:after {
				position: absolute;
				background: rgba(0,0,0,0.4);
				content: '';
				z-index: -1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			p {
				display: block;
			}
		}
	}
	.product-title {
		text-decoration: none;
		p {
			color: #888888;
			@include ptSans(14px, 400, normal);
			text-align: center;
			text-transform: uppercase;
			padding: 20px 0;
			margin: 0;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}