/* Footer ====================================================================*/
.theme-footer {
  padding: 25px 0;

  &.desktop {
    @include s() {
      display: none;
    }

    .footer-lead {
      padding: 26px 0;
      text-align: center;
      color: #b9b4a7;
      border-top: 1px solid #e5e5e5;
      @include ptSerif(40px, $fontRegular, normal);
    }

    .menu-outer {
      padding: 20px;
      border: 1px solid #e5e5e5;

      .menu-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 80%;
        margin: auto;
        @include flex();

        .menu-item {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          text-align: center;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #888;
            @include ptSans(14px, $fontRegular, normal);
          }
        }
      }
    }

    .footer-info {
      padding: 25px 0;

      .lead {
        margin: 0;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        color: #888;
        @include ptSans(14px, $fontBold, normal);
      }

      .subscribe-container {
        position: relative;

        input[type='email'] {
          display: block;
          width: 70%;
          margin: auto;
          padding: 15px 40px 10px 16px;
          color: #989dac;
          border: 1px solid rgba(122,125,128,.3);
          border-radius: 3px;
          @include ptSans(12px, $fontRegular, normal);
        }

        button[type='submit'] {
          line-height: normal;
          position: absolute;
          top: 0;
          right: 15%;
          width: 50px;
          height: 42px;
          padding: 0 21px;
          color: #fff;
          border: none;
          border-radius: 3px;
          background: #b9b4a7;

          &:hover {
            -webkit-transition: 0.3s;
            transition: 0.3s;
            background: darken(#b9b4a7, 10%);
          }
        }
      }

      .footer-logo-container {
        padding: 48px 10% 100px;
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
      }

      .contact-info {
        text-align: center;

        a,
        p {
          margin-bottom: 10px;
          text-decoration: none;
          color: #888;
          @include ptSans(14px, $fontRegular, normal);
        }

        .footer-message-link {
          display: block;
          margin-bottom: 20px;
          text-decoration: underline;
          color: #88beb4;
        }

        .social-icons {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          width: 55%;
          margin: auto;
          @include flex();

          li {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-align: center;

            a {
              font-size: 25px;
              color: #888;
            }
          }
        }
      }
    }

    .copyrights {
      text-align: center;
      border-top: 1px solid #e5e5e5;

      .payment-icons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        @include flex();

        li {
          font-size: 24px;
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          padding: 10px 0;
          color: #888;
        }
      }

      small {
        display: inline-block;
        margin-top: 20px;
        color: #888;

        a {
          text-decoration: none;
          color: #888;
        }
      }
    }
  }
  // &.desktop

  &.mobile {
    padding: 25px 0;
    @include l() {
      display: none;
    }
    @include m() {
      display: none;
    }

    .container {
      position: relative;
    }

    .logo {
      position: absolute;
      z-index: 3;
      top: -40px;
      width: 100%;
      text-align: center;

      a {
        display: block;
        width: 110px;
        margin: auto;
        background: #fff;
      }

      img {
        width: 81px;
        height: 71px;
        background: #fff;
      }
    }

    .lead {
      margin-bottom: 10px;
      text-align: center;
      text-transform: uppercase;
      color: #888;
      @include ptSans(14px, $fontBold, normal);
    }

    .menu-outer {
      z-index: 1;
      margin-bottom: 10px;
      padding: 50px 0 20px;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;

      .menu-inner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 0 2%;
        @include flex();

        .menu-item {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          text-align: center;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: #888;
            @include ptSans(14px, $fontRegular, normal);
          }
        }
      }
    }

    .contact-info {
      padding-bottom: 20px;
      text-align: center;
      color: #888;
      border-bottom: 1px solid #e5e5e5;

      a,
      p {
        line-height: 24px;
        margin: 0;
        text-decoration: none;
        color: #888;
        @include ptSans(14px, $fontRegular, normal);
      }
    }

    .subscribe-form {
      margin-bottom: 10px;
      padding: 20px 10px;

      .subscribe-container {
        position: relative;
      }

      input[type='email'] {
        margin-top: 10px;
        padding: 14px 60px 10px 20px;
        color: #888;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        @include inputPlaceholder(#888);
      }

      button {
        position: absolute;
        top: 10px;
        right: 0;
        width: 40px;
        height: 47px;
        color: #fff;
        border: none;
        background: #b9b4a7;
      }
    }

    .social-icons {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-bottom: 15px;
      padding: 0 10%;
      @include flex();

      li {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;

        a {
          font-size: 24px;
          color: #888;
        }
      }
    }

    .copyrights {
      margin-top: 40px;
      text-align: center;
      color: #888;

      a {
        text-decoration: none;
        color: #888;
      }
    }
  }
  //&.mobile
}
