/* Header ====================================================================*/

.theme-header {
  padding: 25px 0;
  .logo {
  	@include m() {
  		text-align: center;
  	}
    img {
      max-width: 100%;
    }
  }

  &.desktop {
  	@include s() {
  		display: none;
  	}
		.menu {
			@include m() {
				float: none;
				margin: 20px auto;
			}
			@include flex();
			flex-direction: row;
			margin-bottom: 20px;
			width: 80%;
			float: right;
			a {
				text-decoration: none;
				vertical-align: middle;
				cursor: pointer;
			}
			i {
				color: #b9b4a7;
				font-size: 16px;
			}
			.menu-item {
				@include ptSans(14px, $fontRegular, normal);
				flex: auto;
				text-align: center;
				padding: 0 5px;
				border-right: 1px solid #000;
			}
			&.row-1 {
				.menu-item {
					&:first-child,
					&:last-child {
						border-right: none;
					}
					&:last-child {
						@include m() {
							text-align: center;
							flex: auto;
						}
						font-weight: $fontBold;
						text-align: right;
						flex: 5;
						a {
							color: #808080;
						}
					}
					@include m() {
						&:first-child {
							border-right: 1px solid #000;
						}
					}
				}
			}
			&.row-2 {
				.menu-item {
					&:last-child {
						@include m() {
							text-align: center;
							flex: auto;
						}
						font-weight: $fontBold;
						text-align: right;
						border-right: none;
						flex: 4.5;
						a {
							color: #88beb4;
						}
					}
				}
			}
		}
		.header-search {
			float: right;
			width: 50%;
			text-align: right;
			position: relative;
			@include m() {
				float: none;
				margin: 10px auto;
			}
			form,
			input {
				@include ptSans(14px, $fontRegular, normal);
				width: 100%;
			}
			input[type="text"] {
				border: 0;
				border-bottom: 1px solid #e5e5e5;
				padding: 10px 50px 10px 0px;
				color: #a2a6b4;
			}
			&:after {
				position: absolute;
				font-family: 'FontAwesome';
				content: '\f002';
				right: 10px;
				top: 7px;
				color: #e5e5e5;
				font-size: 20px;
				line-height: 1;
				cursor: pointer;
				pointer-events: none;
			}
		}
  } // &.desktop
  &.mobile {
  	padding: 0 0 25px 0;
  	@include m() {
  		display: none;
  	}
  	@include l() {
  		display: none;
  	}
  	.banner {
  		@include flex();
  		flex-direction: row;
  		background: #f2f2f2;
  		padding: 10px 5px;
  		.banner-item {
  			@include ptSans(14px, $fontRegular, normal);
  			flex: auto;
  			text-align: center;
  			border-right: 1px solid #888888;
  			&:last-child {
  				border-right: none;
  				font-weight: bold;
  			}
  			a {
  				text-decoration: none;
  				vertical-align: middle;
  				color: #888888;
  			}
  		}
  	}
  	.main {
  		padding: 0 10px;
  		#main-menu {
  			padding: 18px 0;
  		}
  		.logo {
  			margin: 0 7% 0 15%;
  		}
  		#mb-actions {
  			@include flex();
  			flex-direction: row;
  			.cart,
  			.search {
  				flex: 1;
  				font-size: 1.5em;
  				padding: 15px 6px;
  				text-align: center;
  			}
  		}
  	}
  }
}
