/* Navigation =================================================================*/
.dropdown-window-ds {
  position: absolute;
  background: #fff;
  top: 50px;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  @include flex();
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 3px;
  opacity: 0;
  z-index: -1;
  padding: 5px 10px;
  @include s() {
    position: relative;
    width: 100%;
    top: 20px;
    display: none;
    opacity: 1;
    z-index: 1;
    left: 0;
    margin: 0;
  }
  .section {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border: 0;
    }
  }
  .dropdown-item {
    text-align: left;
    a {
      color: #888888;
      @include ptSans(16px, 400, normal);
      line-height: normal;
      padding: 5px 0px!important;
      margin: 0px;
      text-transform: capitalize!important;

    }
  }
}
.dropdown-window {
  position: absolute;
  background: #fff;
  width: 80%;
  top: 50px;
  left: 0;
  -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  @include flex();
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 0;
  z-index: -1;
  margin: 0 10%;

  @include m() {
    width: 100%;
    margin: 0;
  }
  @include s() {
    position: relative;
    width: 100%;
    top: 20px;
    display: none;
    opacity: 1;
    z-index: 1;
    left: 0;
    margin: 0;
  }
  .section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px;
    border-right: 1px solid #e5e5e5;
    &:last-child {
      border-right: none;
    }
    @include s() {
      border: none;
      border-bottom: 1px solid #e5e5e5;
      &:last-child {
        border-bottom: none;
      }
    }
    .title {
      @include ptSans(13px, 700, normal);
      margin-bottom: 0px;
      margin-top: 0px;
      padding-left: 0px;
      text-align: left;
      color: #555555;
    }
    .dropdown-item {
      text-align: left;
      a {
        color: #888888;
        @include ptSans(13px, 400, normal);
        line-height: normal;
        padding: 5px 0px!important;
        margin: 0px;
        text-transform: capitalize!important;

      }
    }
  }
}
