/*==============================================================================
Feel free to add your own header, but please keep the following:
 ___  _   _    _
/   || | | |  | |
\__  | | | |  | |  __
/    |/  |/_) |/  /  \_/\/
\___/|__/| \_/|__/\__/  /\_/
              |\
              |/
Concrete v2.0.1
https://github.com/Elkfox/Concrete
Copyright (c) 2017 Elkfox Co Pty Ltd
https://elkfox.com
MIT License
==============================================================================*/

window.concrete = window.concrete || {};

// perhaps turn into an assign in function?
concrete.strings = {
  soldOut: "{{ 'product.sold_out' | t }}",
  addToCart: "{{ 'product.add_to_cart' | t }}",
  unavailable: "{{ 'product.unavailable' | t }}"
};

concrete.urlParams = {};

/*================ Concrete ================*/
// =require concrete/cache.js
// =require concrete/utils.js
// =require concrete/a11y.js
// =require concrete/currency.js
// =require concrete/sections.js
// =require concrete/images.js
// =require concrete/collection.js
// =require concrete/variants.js
// =require concrete/product.js
// =require concrete/empty-section.js


// Initialize on document ready
$(document).ready(function() {
  // Register sections js
  var sections = new concrete.Sections();
  sections.register('product', concrete.Product);
  sections.register('collection', concrete.Collection);

  // Menu items logic
  $('.dropdown-item').each(function() {
    if ($(this).hasClass('active')) {
      $(this).closest('.secondary-item, .mobile-item').removeClass('inactive').addClass('active');
    }
  });
  $('.secondary-item, .mobile-item').each(function() {
    if ($(this).hasClass('active')) {
      var secondaryItemTitle = $(this).parent().data('main-title');
      $(this).parent().removeClass('inactive').addClass('active');
      $('.main-menu .item[data-main-title="'+secondaryItemTitle+'"]').removeClass('inactive').addClass('active');
    }
  });

  // Cart Math Logic
  function changeCartQty() {
    // Header
    // var header_cart_qty = $('.menu.row-1 .cart-qty').data('cart-item-count');
    // var header_cart_result = header_cart_qty; // was / 2
    // $('.menu.row-1 .cart-qty').prepend('('+header_cart_result+')');

    // Cart Page
    $('.length-price .quantity').each(function() {
      var cart_page_qty = $(this).data('value');
      var cart_page_result = cart_page_qty / 1;
      if (cart_page_result <= 1) {
        $(this).prepend('Length: '+cart_page_result+' yard');
      } else {
        $(this).prepend('Length: '+cart_page_result+' yards');
      }
    });

    $('.cart__qty-input').each(function(){
      var currentQuantity = $(this).val();
      $(this).next().val(currentQuantity/1);
    });

    $('.dummy-quantity').change(function(){
      var currentQuantity = $(this).val();
      $(this).val(Math.round(currentQuantity*1)/1);
      $(this).prev().val(currentQuantity*1);
    });
  }
  changeCartQty();

  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    $('.item-dropdown .secondary-item-link').on('click', function(e) {
      e.preventDefault();
    });
  }

  // Mobile Search Actions
  $('#mb-actions .search').on('click', function() {
  	$('.search-bar').slideToggle();
  });

  $('.mb-search-close').on('click', function() {
  	$('.search-bar').slideToggle();
  });

  $('.mb-search-action').on('click', function() {
  	$('.search-bar').find('form').submit();
  });

  // Mobile Item Dropdown
  $('.mb-item-dropdown .mb-item-link').on('click', function(e) {
    e.preventDefault();
    $(this).next('.dropdown-window').slideToggle();
  });

  // Init Slick Slider for sections/hero-slider.liquid
  $('#hero-slider').slick({
    autoplay: true,
    autoplaySpeed: 5000,
    arrows: false,
    prevArrow: '<a class="hero-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
    nextArrow: '<a class="hero-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>',
    dots: true,
    fade: true,
    appendDots: '.nav-dots',
    customPaging: function(slider, i) {
      var thumb = $(slider.$slides[i]).data();
      return '<a><i class="fa fa-circle-thin" data-index="'+i+'"></i></a>'
    },
    useCSS: false
  });

  // Init Slick Slider for sections/brand-slider.liquid
  $('#brand-slider').slick({
    slidesToShow: 4,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    arrows: true,
    prevArrow: '<a class="brand-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
    nextArrow: '<a class="brand-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>',
    dots: false,
    useCSS: false,
    responsive: [
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: true,
          prevArrow: '<a class="brand-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
          nextArrow: '<a class="brand-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>',
          dots: false,
          useCSS: false
        }
      },
      {
        breakpoint: 850,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          arrows: true,
          prevArrow: '<a class="brand-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
          nextArrow: '<a class="brand-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>',
          draggable: true,
          dots: false,
          useCSS: false
        }
      }
    ]
  }); // $('#brand-slider').slick();

  // Product Page Slick Slider
  // $('#ProductImages').slick({
  //   slidesToShow: 1,
  //   slidesToScroll: 1,
  //   arrows: false,
  //   fade: true,
  //   asNavFor: '#ProductThumbs',
  //   useCSS: false
  // });
  //
  // $('#ProductThumbs').slick({
  //   slidesToShow: 3,
  //   slidesToScroll: 1,
  //   asNavFor: '#ProductImages',
  //   dots: false,
  //   arrows: true,
  //   prevArrow: '<a class="img-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>',
  //   nextArrow: '<a class="img-next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>',
  //   focusOnSelect: true,
  //   useCSS: false
  // });

  // Show/Hide Mobile Menu
  $('.hamburguer').on('click', function() {
    $('.mobile-menu').slideToggle();
  });

  // Truncate Paragraphs
  var charLimit = 100;

  function truncate(el) {
    var text = el.text();
    el.attr("data-originalText", text);
    el.text(text.substring(0, charLimit) + "...");
    el.addClass('truncated');
  }

  function reveal(el) {
    el.text(el.attr("data-originalText"));
  }

  truncate($('.truncate'));

  $('.description').on('click', function() {
    if ($('.truncate').hasClass('truncated')) {
      $(this).find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up')
      $('.truncate').removeClass('truncated');
      reveal($('.truncate'));
    } else {
      $('.truncate').addClass('truncated');
      $(this).find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down')
      truncate($('.truncate'));
    }
  });

  // TODO: Simplify accordions

  // Accordion for Sidebar
  $('.accordion .main').on('click', function () {
    $(this).toggleClass('pane-open');
    $(this).find('.icon').find('i').toggleClass('fa-chevron-down fa-chevron-up');
    $(this).next('.pane').slideToggle();
  });

  // Accordion for FAQ & Design Tools
  $('.accordion .title').on('click', function() {
    $(this).next('.pane').slideToggle();
    $(this).find('i').toggleClass('fa-chevron-down fa-chevron-up');
  });

  // View by filter
  $('#view-per-page').on('change', function() {
    var optVal = $(this).val();
    $('.view-per-page-picker[data-view="'+optVal+'"').trigger('click');
  });

  // Universal Tab Function
  $('.tab-item').on('click', function() {
    var index = $(this).index(),
        tabgroup = $(this).parents('.tab-navigation').data('tabgroup'),
        panelsContext = ($('.tab-panels[data-tabgroup="'+tabgroup+'"]')),
        tabItemsContext = ($('.tab-navigation[data-tabgroup="'+tabgroup+'"]'));

    $('.tab-item', tabItemsContext).removeClass('active');
    $(this).addClass('active');
    $(" > .tab-panel", panelsContext).removeClass("active");
    $(".tab-panel:eq(" + index + ")", panelsContext).addClass("active");
  });

  // Price Quote Form Clone
  $('#add-more-action').on('click', function() {
    var clone = $(this).closest('#contact_form').find('.formClone:first').clone();
    clone.insertAfter($('.formClone:last'));
    if ($('.formClone').length > 1) {
      $('.remove').show();
    }
    $('.remove').on('click', function() {
      if ($('.formClone').length > 1) {
        $(this).parent().remove();
      } else {
        $(this).hide();
      }
    });
  });

  // Notes: I started using Velocity JS for all animations from here on out.

  // Blocks for Window Treatment, Bedding, and Pillows & More
  $('.window-categories .block').on('click touch', function() {
    var category = $(this).data('category');
    var duration = { duration: 500 };
    var showOptions = {
      opacity: 1,
      visibility: "visible",
      top: '-30%',
      left: 0,
      right: 0,
      bottom: 0
     };
    var paneGrab = $('.pane[data-category="'+category+'"]');
    paneGrab.velocity(showOptions, duration);
  });

  $('.window-categories .close-action').on('click touch', function() {
    var parent = $(this).parents('.pane');
    var duration = { duration: 500 };
    var hideOptions = {
      opacity: 0,
      visibility: "hidden",
      top: "50%",
      left: "50%",
      right: "50%",
      bottom: "50%"
    };
    parent.velocity(hideOptions, duration);
  });

});
