{% section 'collections-two-sides' %}
<div class="container l">
  <div class="row">
    <div class="column l3 m12 s12">
    </div>
    <div class="column l9 m12 s12">
      {% section 'bottom-banner' %}
    </div>
  </div>
</div>
