{% if childlink.links != empty %}
	{% include 'icon' with 'chevron-down' %}
	<div class="dropdown-window">

		{% for grandchild in childlink.links %}
			<ul class="section {{ grandchild.handle }}" >
				<li class="title">{{ grandchild.title }}</li>

				{% for greatgrandchild in grandchild.links %}
					<li class="dropdown-item {% if greatgrandchild.active %}active{% else %}inactive{% endif %}">
						{{ greatgrandchild.title | link_to: greatgrandchild.url }}
					</li>
				{% endfor %}

			</ul>
		{% endfor %}
	</div>
{% endif %}

{% comment %}
{% if grandchild.handle == 'shop-by-color' %}
	<i class="fa fa-circle"
		 aria-hidden="true"
		 style="color:{{greatgrandchild.title}}"></i>
{% endif %}
{% endcomment %}