{% include 'header-menu-mobile' %}

<header class="theme-header mobile" role="banner">
	<div class="container s">
		<div class="row">
			<div class="column s12">
				{{ banner_menu }}
			</div>
		</div>
		<div class="main">
			<div class="row">

				<div class="column s1" id="main-menu">
					{{ hamburger }}
				</div>

				<div class="column s8">
					{% include 'header-logo-mobile' %}
				</div>

				<div class="column s3" id="mb-actions">
					{{ mobile_actions }}
				</div>
				
			</div>

		</div>
		<div class="search-bar">
			{% include 'form-search' %}
			{{ search_actions }}
		</div>
	</div>
</header>