<div class="product-template some-block">
  <div class="container l">
    <div class="column l6 m6 s12">
      <div class="yardage-chart">
        <p>Yardage Chart</p>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="column l6 m6 s12">
      <div class="measure-chart">
        <p>How to Measure</p>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
