<nav class="mobile-menu">
	<div class="container">

		{% for link in linklists['main-menu'].links %}
			{% capture handle %}{{link.handle}}{% endcapture %}

			<ul class="mobile-items {% if link.active %}active{% else %}inactive{% endif %}" data-main-title="{{link.title}}">

				{% for childlink in linklists[handle].links %}
					<li class="mobile-item {% if childlink.active %}active{% else %}inactive{% endif %} {% if childlink.links != blank %}mb-item-dropdown{% endif %}">
						<a class="mb-item-link" href="{{ childlink.url }}">
							<p>{{ childlink.title }}</p>
						</a>
						{% include 'dropdown-menu' %}
					</li>
				{% endfor %}

			</ul>
		{% endfor %}

	</div>
</nav>