{% if settings.enable_price_quote_sidebar %}
	<div class="price-quote-form">

		<h3 class="title">{{ settings.price_quote_title }}</h3>
		<p class="lead">{{ settings.price_quote_lead }}</p>

		{% form 'contact' %}
			<div class="formClone">

				{% if form.posted_successfully? %}
					<p class="note form-success">
						{{ 'form.contact.success' | t }}
					</p>
				{% endif %}

				<input type="hidden" id="ContactPriceQuoteForm" name="contact[PriceQuoteForm]" value="PriceQuoteForm">
				<input type="text" id="ContactManufacturer" name="contact[Manufacturer]" placeholder="Manufacturer" required>
				<input type="text" id="ContactPatternName" name="contact[PatternName]" placeholder="Pattern Name or #" required>
				<input type="text" id="ContactColorName" name="contact[ColorName]" placeholder="Color Name or Number" required>
				<input type="email" id="email" name="contact[email]" value="" placeholder="Email Address" required="required" />

				<div class="remove">
					<a class="action"><i class="fa fa-minus"></i> Remove</a>
	  	  </div>

			</div>

			<div class="add-more" id="add-more-action">
				<a class="action"><i class="fa fa-plus"></i> Add Another</a>
			</div>
			<div class="send-action">
				<button type="submit" class="btn primary-btn">Send Request</button>
			</div>
		{% endform %}
	</div>
{% endif %}
