.article-page {
	.article {
		display: block;
		width: 95%;
		margin: auto;
		border-radius: 3px;
		border: 1px solid #e5e5e5;
		padding: 1em;
		@include s() {
			width: 100%;
		}
	}
	.title {
		@include ptSerif(30px, 400, normal);
		text-align: center;
		color: #555
	}
	.social-sharing {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 1em 0 2em;
		.button.share {
			-webkit-box-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
			text-align: center;
		}
	}
	.body {
		@include ptSans(15px, 400, normal);
		color: #888;
		margin-bottom: 2em;
	}
	.action {
		text-align: center;
	}
	.featured-img {
		img {
			width: 100%;
		}
		@include s() {
			margin-bottom: 2em;
		}
	}
}
