.public-access {
	.banner {
		height: 300px;
		@include s() {
			height: 200px;
		}
	}
	.text-container {
	  max-width: 33%;
	  @include flex();
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  height: inherit;
	  background: rgba(#333, 0.7);
	  position: relative;
	  @include s() {
	  	max-width: 100%;
	  }
	  &.align-left,
	  &.align-right {
	  	&:before {
	  		border-style: solid;
	  		content: "";
	  		position: absolute;
	  		width: 0;
	  		@include s() {
	  			display: none;
	  		}
	  	}
	  }
	  &.align-left {
		  margin-right: auto;
		  &:before {
				right:-72px;
				border-width: 0 72px 300px 0;
				border-color: transparent transparent rgba(#333, 0.7);
		  }
		}
		&.align-right {
		  margin-left: auto;
		  &:before {
				left:-72px;
				border-width: 0 0 300px 72px;
				border-color: transparent transparent rgba(#333, 0.7);
		  }
		}
		&.align-center {
		  margin: auto;
		}
		.title {
			@include ptSerif(35px, 400, italic);
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			line-height: 42px;
			padding: 0 0 0 10%;
			@include s() {
				font-size: 30px;
				padding: 0 5%;
			}
		}
	}
	.body-content {
		max-width: 980px;
		margin: auto;
		.body-heading {
			@include ptSerif(40px, 400, normal);
			color: #555;
			padding: 1em 0 0;
			@include m() {
				padding: 0.5em;
				font-size: 30px;
			}
			@include s() {
				padding: 0.5em;
				font-size: 20px;
			}
		}
		.body-lead {
			@include ptSans(15px, 400, normal);
			color: #555;
			padding: 0.5em 0 1.5em;
			margin: 0;
			@include m() {
				padding: 0.5em;
				font-size: 15px;
				line-height: 25px;
			}
			@include s() {
				padding: 0.5em;
				font-size: 14px;
				line-height: 25px;
			}
		}
		.tabs {
			padding: 0em 0 3em;
			@include s() {
				padding: 0 0 2em;
			}
		}
		.tab-navigation {
			@include flex();
			list-style: none;
			margin: 0;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			@include s() {
				-webkit-box-pack: normal;
				    -ms-flex-pack: normal;
				        justify-content: normal;
			}
		}
		.tab-item {
			cursor: pointer;
			margin: 0;
			padding: 0.5em 1.5em;
			text-decoration: none;
			text-transform: uppercase;
			border: 1px solid #e5e5e5;
			color: #888;
			@include ptSans(14px, 400, normal);
			@include s() {
				padding: 10px 0;
				-webkit-box-flex: 1;
				    -ms-flex: 1;
				        flex: 1;
				text-align: center;
			}
			&.active,
			&:hover {
				background: #88beb4;
				border: 1px solid #88beb4;
				color: #fff;
				@include transition();
			}
		}
		.tab-panels {
			margin-left: 0;
			padding-top: 2em;
		}
		.tab-panel {
			display: none;
			&.active {
				display: block;
			}
			.panel-inner {
				width: 61%;
				margin: auto;
				@include s() {
					width: 100%;
				}
				li {
					border-bottom: 1px solid #e5e5e5;
					cursor: pointer;
					a {
						@include ptSans(15px, 700, normal);
						color: #888;
						text-decoration: none;
						padding: 10px 5em;
						display: block;
						&:hover {
							color: #fff;
						}
						@include s() {
							font-size: 14px;
							padding: 10px;
						}
					}
					&:hover {
						background: #88beb4;
						@include transition();
					}
				}
			}
		}
	}
}
