.designer-secrets {
	.main-banner {
		height: 300px;
		@include flex();
		justify-content: center;
		align-items: center;
		margin-bottom: 2em;
	}
	.img-div,
	.desktop-banner {
		height: inherit;
	}
	.img-div {
		flex: 1 60%;
	}
	.desktop-banner {
		flex: 1 40%;
		padding: 2em 3em;
		background: #555;
		@include flex();
		flex-direction: column;
		justify-content: center;
		color: #fff;
		.title {
			@include ptSerif(35px, 400, italic);
		}
		.lead {
			@include ptSerif(20px, 400, normal);
		}
		.title,
		.lead {
			text-transform: uppercase;
		}
	}
	.double-banners {
		.left-block,
		.right-block {
			position: relative;
			height: 300px;
			width: 98%;
			@include s() {
				width: 100%;
				margin-bottom: 20px;
			}
		}

		.left-block {
			margin-right: auto;
		}

		.right-block {
			margin-left: auto;
		}

		.block-text {
			background: rgba(#fff, 0.6);
			height: inherit;
			@include flex();
			flex-flow: row wrap;
			align-items: center;
			padding: 3em 2em;
			.title,
			.action {
				flex: 1 100%;
			}
			.title {
				@include ptSerif(20px, 400, normal);
			}
			.action {
				text-align: left;
			}

			&.align-left,
			&.align-right {
				position: absolute;
			}
			&.align-left {
				left: 0;
				right: 60%;
				@include m() {
					right: 50%;
				}
				@include s() {
					right: 50%;
				}
			}
			&.align-right {
				left: 60%;
				right: 0;
				@include m() {
					left: 50%;
				}
				@include s() {
					left: 50%;
				}
			}
		}
	}
	.mobile-banner {
		height: inherit;
    @include flex();
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    width: 100%;
    .title,
    .lead {
    	text-transform: uppercase;
    }
    .title {
    	@include ptSerif(30px, 400, normal);
    }
    .lead {
    	@include ptSans(14px, 400, normal);
    }
	}
}