.designer-secrets {
	.main-banner {
		height: 300px;
		@include flex();
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 2em;
		@include s() {
			height: 200px;
		}
	}
	.img-div,
	.desktop-banner {
		height: inherit;
	}
	.img-div {
		-webkit-box-flex: 1;
		    -ms-flex: 1 60%;
		        flex: 1 60%;
	}
	.desktop-banner {
		-webkit-box-flex: 1;
		    -ms-flex: 1 40%;
		        flex: 1 40%;
		padding: 2em 3em;
		background: #555;
		@include flex();
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		color: #fff;
		.title {
			@include ptSerif(35px, 400, italic);
		}
		.lead {
			@include ptSerif(20px, 400, normal);
		}
		.title,
		.lead {
			text-transform: uppercase;
		}
	}
	.double-banners {
		.left-block,
		.right-block {
			position: relative;
			height: 300px;
			width: 98%;
			@include s() {
				width: 100%;
				margin-bottom: 20px;
			}
		}

		.left-block {
			margin-right: auto;
		}

		.right-block {
			margin-left: auto;
		}

		.block-text {
			height: inherit;
			@include flex();
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			    -ms-flex-flow: row wrap;
			        flex-flow: row wrap;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			padding: 3em 2em;
			@include s() {
				padding: 3em 20px;
				text-align: center;
			}
			.title,
			.action {
				-webkit-box-flex: 1;
				    -ms-flex: 1 100%;
				        flex: 1 100%;
			}
			.title {
				@include ptSerif(20px, 400, normal);
				line-height: 26px;
			}
			.action {
				text-align: left;
				@include s() {
					text-align: center;
				}
			}

			&.align-left,
			&.align-right {
				position: absolute;
			}
			&.align-left {
				left: 0;
				right: 60%;
				@include m() {
					right: 50%;
				}
				@include s() {
					right: 50%;
				}
			}
			&.align-right {
				left: 60%;
				right: 0;
				@include m() {
					left: 50%;
				}
				@include s() {
					left: 50%;
				}
			}
		}
	}
	.mobile-banner {
		height: inherit;
    @include flex();
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    color: #fff;
    width: 100%;
    .title,
    .lead {
    	text-transform: uppercase;
    }
    .title {
    	@include ptSerif(30px, 400, normal);
    }
    .lead {
    	@include ptSans(14px, 400, normal);
    }
	}
}
