.custom-design {
  .main-banner {
    height: 425px;
    @include flex();
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    h1 {
      @include ptSerif(70px, 400, italic);
      text-align: center;
      color: #fff;
    }
    @include s() {
      height: 350px;
      h1 {
        @include ptSerif(40px, 400, italic);
      }
    }
  }
  .custom-design-links {
    padding-bottom: 2em;
    h2 {
      @include ptSerif(40px, 400, normal);
      padding: 48px 0 30px;
      text-align: center;
      @include s() {
        @include ptSerif(25px, 400, normal);
      }
    }
    .three-boxes {
      @include flex();
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
    }
    .box {
      height: 300px;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      @include s() {
        -webkit-box-flex: 100%;
            -ms-flex: 100%;
                flex: 100%;
      }
      a {
        position: relative;
        display: block;
        height: inherit;
        @include flex();
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        text-decoration: none;
        text-transform: capitalize;
        color: #fff;
      }
      h3 {
        @include ptSerif(30px, 400, normal);
        text-align: center;
        padding-bottom: 20px;
      }
      p {
        @include ptSans(20px, 400, normal);
        text-align: center;
        padding: 0 10%;
      }
      .lead-container {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        background: rgba(0,0,0,0.6);
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        @include flex();
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row wrap;
                flex-flow: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        h3 {
          line-height: 35px;
          padding: 0;
        }
        p {
          line-height: 25px;
          span {
            font-style: italic;
          }
        }
        .line-br {
          margin: 10px 0 15px;
          border-bottom: 3.6px solid #88b3b4;
          width: 220px;
        }
      }
    }
  }
  .bottom-banner {
    height: 175px;
    padding: 30px;
    @include flex();
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    h1 {
      @include dancingScript(40px, 400, normal);
      text-align: center;
      color: #fff;
      width: 100%;
    }
    @include s() {
      height: 240px;
      margin-bottom: 2em;
    }
  }
}
