.page-order-sample {
	padding: 2em 0;
	.title {
		@include ptSerif(30px, 400, normal);
		color: #555;
	}
	.lead {
		@include ptSans(15px, 400, normal);
		color: #888;
		margin-bottom: 35px;
	}
	.sample-fields {
		padding: 0.5em 0;
		.input-wrapper {
			width: 100%;
			margin: 10px 0;
			input {
				width: 90%;
				height: auto;
				border: 1px solid #e5e5e5;
				padding: 10px;
				@include ptSans(15px, 400, normal);
				color: #888;
				@include inputPlaceholder(#888);
			}
		}
	}
	.btn-actions {
		text-align: center;
		.add-another-btn {
			border-bottom: 1px solid #88beb4;
			color: #88beb4;
			margin: 0 20px;
		}
	}
}
