.page-price-quote {
	padding: 1em 0;
	h1 {
		@include ptSerif(30px, 400, normal);
		color: #555;
	}
	.lead {
		@include ptSans(15px, 400, normal);
		color: #888;
		a {
			font-weight: 700;
			color: #888;
			text-decoration: none;
		}
	}
	form {
		padding: 0.5em 0;
		input {
			width: 100%;
			border: 1px solid #e5e5e5;
			padding: 10px;
			color: #888;
			@include inputPlaceholder(#888);
			@include ptSans(15px, 400, normal);
		}
	}
	.request-num {
		display: block;
		width: 100%;
		@include ptSans(15px, 700, normal);
		color: #888;
		padding: 5px 0;
	}
	.input-row {
		padding: 1em 0;
		@include flex();
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: flex-start;
		.input-wrapper {
			-webkit-box-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
			margin-right: 5px;
			&:last-child {
				margin: 0;
			}
		}
	}
	.btn-actions {
		padding: 1em 0;
		text-align: center;
		.add-another,
		.remove-another {
			border-bottom: 1px solid #88beb4;
			color: #88beb4;
			padding: 0 0 1px;
			margin: 0 30px;
			@include ptSans(14px, 400, normal);
			text-transform: uppercase;
		}
		.remove-another {
			display: none;
		}
		button {
			height: auto;
			border: 0;

		}
	}
}
