.page-fabric {
	.block-title {
		height: 200px;
		width: 100%;
		@include flex();
		justify-content: center;
		align-items: center;
		.title {
			@include ptSerif(40px, 400, normal);
			color: #fff;
		}
	}
}