.local-decorator {
	.banner {
	  height: 300px;
	  @include s() {
	  	height: 200px;
	  }
	}
	.text-container {
	  max-width: 45%;
	  @include flex();
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  height: inherit;
	  background: rgba(#333, 0.7);
	  position: relative;
	  @include s() {
	  	max-width: 100%;
	  }
	  &.align-left,
	  &.align-right {
	  	&:before {
	  		border-style: solid;
	  		content: "";
	  		position: absolute;
	  		width: 0;
	  		@include s() {
	  			display: none;
	  		}
	  	}
	  }
	  &.align-left {
		  margin-right: auto;
		  &:before {
				right:-72px;
				border-width: 0 72px 300px 0;
				border-color: transparent transparent rgba(#333, 0.7);
		  }
		}
		&.align-right {
		  margin-left: auto;
		  &:before {
				left:-72px;
				border-width: 0 0 300px 72px;
				border-color: transparent transparent rgba(#333, 0.7);
		  }
		}
		&.align-center {
		  margin: auto;
		}
		.title {
			@include ptSerif(35px, 400, italic);
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			@include s() {
				font-size: 30px;
			}
		}
	}
	.body-content {
		padding: 1.5em 0;
		.body-heading {
			@include ptSerif(30px, 400, normal);
			color: #555;
			@include m() {
				padding: 0.5em;
				font-size: 30px;
			}
			@include s() {
				padding: 0.5em;
				font-size: 20px;
			}
		}
		.body-lead {
			@include ptSans(16px, 400, normal);
			color: #555;
			@include m() {
				padding: 0.5em;
				font-size: 15px;
				line-height: 25px;
			}
			@include s() {
				padding: 0.5em;
				font-size: 14px;
				line-height: 25px;
			}
		}
	}

	.local-dec-contact {
		width: 80%;
		margin: auto;
		@include flex();
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-flow: row wrap;
		        flex-flow: row wrap;
		@include m() {
			width: 100%;
			padding: 0.5em;
		}
		@include s() {
			width: 100%;
			padding: 0.5em;
		}

		.stores {
			-webkit-box-flex: 1;
			    -ms-flex: 1 40%;
			        flex: 1 40%;
			@include s() {
				-webkit-box-ordinal-group: 3;
				    -ms-flex-order: 2;
				        order: 2;
				-webkit-box-flex: 1;
				    -ms-flex: 1 100%;
				        flex: 1 100%;
				margin-bottom: 3em;
			}
			.states {
				li {
					@include ptSans(16px, 400, normal);
					margin-bottom: 15px;
					a {
						color: #88beb4;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
				.main {
					@include ptSerif(25px, 400, normal);
					margin-bottom: 5px;
				}

			}
		}

		.contact-form {
			-webkit-box-flex: 1;
			    -ms-flex: 1 60%;
			        flex: 1 60%;
			@include s() {
				-webkit-box-ordinal-group: 2;
				    -ms-flex-order: 1;
				        order: 1;
				-webkit-box-flex: 1;
				    -ms-flex: 1 100%;
				        flex: 1 100%;
			}
			.lead {
				@include ptSans(16px, 400, normal);
				color: #555;
				@include s() {
					display: none;
				}
			}
			label {
				@include ptSerif(20px, 400, normal);
				color: #555;
				margin-bottom: 5px;
			}
			input[type="text"],
			input[type="tel"],
			input[type="email"] {
				border: 1px solid #e5e5e5;
				padding: 10px;
				width: 100%;
				@include ptSans(15px, 400, normal);
				margin-bottom: 1em;
				color: #888;
				@include inputPlaceholder(#888);
			}
			button {
				height: auto;
				border: 0;
				margin: 10px auto;
				display: block;
				@include s() {
					margin-bottom: 3em;
				}
			}
		}
	}
}
