@charset "UTF-8";
/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v1.0
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
==============================================================================*/

/* Settings ==================================================================*/
@import url('settings/variables.scss.liquid');

/* Utils =====================================================================*/
@import url('utils/mixins.scss');

/* Global ====================================================================*/
@import url('global/concrete-reset.scss');
@import url('global/global.scss');
@import url('global/grid.scss');
@import url('global/forms.scss');
@import url('global/buttons.scss');

/* Modules ===================================================================*/
@import url('modules/header.scss');
@import url('modules/navigation.scss');
@import url('modules/footer.scss');
@import url('modules/cart.scss');
@import url('modules/drawer.scss');
@import url('modules/popups.scss');
@import url('modules/social.scss');
@import url('modules/icon.scss');
@import url('modules/product.scss');
@import url('modules/hamburger-menu.scss');
@import url('modules/main-menu.scss');
@import url('modules/crumbs.scss');
@import url('modules/collections-all.scss');
@import url('modules/sidebar.scss');
@import url('modules/collection-product.scss');
@import url('modules/collections.scss');
@import url('modules/pagination.scss');

/* Pages ======================================================================*/
@import url('pages/page-fabric.scss');
@import url('pages/page-designer-brands.scss');
@import url('pages/page-designer-secrets.scss');
@import url('pages/page-blog.scss');
@import url('pages/page-article.scss');
@import url('pages/page-local-decorator.scss');
@import url('pages/page-public-access.scss');
@import url('pages/blog-get-inspired.scss');
@import url('pages/page-article-get-inspired.scss');

/* Sections ===================================================================*/
@import url('sections/hero-slider.scss');
@import url('sections/brand-slider.scss');
@import url('sections/section-custom-block.scss');
@import url('sections/blog-section.scss');
@import url('sections/featured-products.scss');
@import url('sections/related-products.scss');
@import url('sections/price-quote-form.scss');

/* Helpers ===================================================================*/
@import url('global/helpers.scss');

/* Vendor ===================================================================*/
@import url('vendor/slick.scss');

/* =============================================================================
   Shopify core helpers
============================================================================= */

// Shopify capture challenge
.shopify-challenge__container {
  text-align: center;
}
